{% extends 'base-web.html.twig' %}

{% block title %}Hello GerichtController!{% endblock %}

{% block body %}
    <br>
    <div class="container">
        {{form(anlegenForm)}}
    </div>
{% endblock %}
